/*
 *  admin.css
 * 	author: Junrong Yan
 * 	date:10/15/2014
 */
 
.widget {
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    overflow: auto;
    text-align: center;
}


.widget .widget-header {
    background: none repeat scroll 0 0 #FAFAFA;
    border-bottom: 1px solid #BBBBBB;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px;
    
}
.widget .widget-header .widget-text{
	float: left;
	text-align: center;
	display:inline-block;
}
.widget .widget-header .widget-dropdownlist{
    padding-left:10px;
    display:inline-block;
}
.widget .widget-header .widget-search{
	padding-right:10px;
	float:right;
	display:inline-block;
}

.widget .widget-header .widget-search2{
	
	float:left;
	width:100%;
	display:inline-block;
	
}

.widget .widget-body {
    padding: 10px;
}   
.widget .widget-body .body_header {
    
    width:100%;
    height: auto;
    margin-bottom: 10px;
    overflow: auto;
}
.widget .widget-body .body-text{
	float: left;
	height:100%;
	text-align:center;
}
.widget .widget-body .body-dropdownlist{
	float:right;
    display:inline-block;
}
.body_container{
	height:auto;
	margin-top: 10px;
	overflow:auto;
	
}
.body_container .cont_left{
	width:5%;
	float:left;
	height:100%;
	
	overflow:auto;
	background:green;
}   
.body_container .cont_middle{
	width: 78%;
	padding:2px;
	border: 1px solid #BBBBBB;
	display:inline-block;
	overflow:auto;
} 
.body_container .cont_middle .middle_header{
	height:20%;
	width:100%;	
	
}
.body_container .cont_middle .middle_body{
	
	width:100%;
	margin-top:20px;
	
}
.body_container .cont_right{
	float:right;
	height:100%;
	overflow:auto;
	display:inline-block;
	background:orange;
}
.table_style{
	text-align:left;
	margin:0 auto;
	border-collapse:collapse;
}

.body_bottom{
	height:auto;
	margin-top: 10px;
	overflow:auto;
}
.body_bottom .button_container{
	height:auto;
	float:right;
	overflow:auto;
}

