.item {
  overflow: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 10px;
  border-bottom: 1px solid #BBB;
  border-top: 1px solid #e3e3e3;
  background: -moz-linear-gradient(top, #ebebeb 0%, #dddddd 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(100%, #dddddd));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ebebeb 0%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ebebeb 0%, #dddddd 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #ebebeb 0%, #dddddd 100%);
  /* IE10+ */

  margin-bottom: 5px;
}
.item .left {
  float: left;
}
.item .right {
  margin-left: 70px;
}
.item .reply_textarea {
  resize: none;
}
.item .reply {
  overflow: auto;
  background: #d6d6d6;
  margin-bottom: 5px;
  padding: 3px;
}
.item .replies {
  padding: 3px;
}
.item .replies .right {
  margin-left: 50px;
}
