
.btn-group {
    margin-bottom: 10px;
}

/* Main featured widgets */

.features img{
    margin: 8px 10px 8px 5px;
}

.features small{
    font-size: .8em;
    color: #666;
    width: 510px;
    display: block;
    margin-bottom: 8px;
}

.features strong{
    font-size: 1.15em;
    font-weight: bold;
}

.features .description{
    margin-top: 14px;
}

.features .btn-info{
    margin-top: 16px;
}

.feature-block{
    display: block;
    border-top: 1px solid #EEE;
    clear: both;
    margin: 8px 0;
}

.feature-block:first-child{
    display: block;
    border-top-width: 0;
    margin: 0;
}

/* Small sidebar featured widgets */
.featurette img{
    margin: 5px 5px 0 0;
	width: 44px;
	height: 44px;
}

.featurette a {
    display: block;
    border-top: 1px solid #EEE;
}
.featurette a:first-child{
    display: block;
    border-top-width: 0;
}

.featurette a.inline {
     display: inline;
     border-top-width: 0;
 }

.inline {
    display: inline;
}

.sub    {
    list-style: none;
    margin-left: 10px;
}
.nav-list > li > a.section {
    background-image: url('http://vfdev.geinspire.com/themes/gforge/images/expand.png');
    background-repeat: no-repeat;
    background-position: 4px 7px;
}

.nav-list > li > a.section.active {
    background-image: url('http://vfdev.geinspire.com/themes/gforge/images/collapse.png');
    background-repeat: no-repeat;
    background-position: 4px 7px;
}


.thumbnails .col4 {
	width: 160px;
}

.thumbnail h4, .thumbnail h5, .thumbnail p {
	padding: 2px 5px 0;
	text-decoration: none;
}

a.thumbnail:hover {
	text-decoration: none;
}

.thumbnail h4 {
	font-size: 12px;
	height: 16px;
	overflow: hidden;
	white-space: nowrap;
}

.thumbnails .thumbnail {
            height: 100%;
            text-align: center;
        }
    
        .thumbnail img {
            height: 100px;
	        min-heigh: 100px;
            cursor: pointer;
        }
    
        .thumbnails .thumbnail .caption {
            text-align: left;
        }

.about {
	width: 365px;
}

.well hr {
	margin: 12px 0 5px;
	border-top: 1px solid #DDD;
}
